@import "tailwindcss";

:root {
  --color-primary: #FF0000;
}

@theme inline {

  --color-primary: var(--primary);

}


body {
  font-family: 'Canela', serif;
  font-weight: 100;
  /* Regular (400), Light (300), Medium (500), Bold (700), Black (900) */
  font-style: normal;
  /* or italic */
}